In [25]:
import numpy as np
import pandas as pd

In [26]:
raw_2012 = pd.read_csv('Data/2012-13/raw_scores.txt')
reg_vegas_2012 = pd.read_csv('Data/2012-13/vegas.txt')
raw_2013 = pd.read_csv('Data/2013-14/raw_scores.txt')
reg_vegas_2013 = pd.read_csv('Data/2013-14/vegas.txt')
raw_2014 = pd.read_csv('Data/2014-15/raw_scores.txt')
reg_vegas_2014 = pd.read_csv('Data/2014-15/vegas.txt')
raw_2015 = pd.read_csv('Data/2015-16/raw_scores.txt')
reg_vegas_2015 = pd.read_csv('Data/2015-16/vegas.txt')
raw_2016 = pd.read_csv('Data/2016-17/raw_scores.txt')
reg_vegas_2016 = pd.read_csv('Data/2016-17/vegas.txt')
raw_2017 = pd.read_csv('Data/2017-18/raw_scores.txt')
reg_vegas_2017 = pd.read_csv('Data/2017-18/vegas.txt')
raw_2018 = pd.read_csv('Data/2018-19/raw_scores.txt')
reg_vegas_2018 = pd.read_csv('Data/2018-19/vegas.txt')

In [33]:
full_vegas_data

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total,YEAR
0,2012-10-30,away,Washington,Cleveland,1610612764,21200001,44.6,220.0,210.0,200.0,...,-108.17,191.0,187.0,-104.0,-110.0,84.0,-10.0,L,178.0,2012-2013
1,2012-10-30,home,Cleveland,Washington,1610612739,21200001,55.4,-260.0,-235.0,-240.0,...,-110.17,191.0,187.0,-106.0,-115.0,94.0,10.0,W,178.0,2012-2013
2,2012-10-30,away,Boston,Miami,1610612738,21200002,44.8,220.0,244.0,240.0,...,-107.33,188.0,182.0,-104.0,-110.0,107.0,-13.0,L,227.0,2012-2013
3,2012-10-30,home,Miami,Boston,1610612748,21200002,55.2,-260.0,-275.0,-260.0,...,-109.33,188.0,182.0,-105.0,-115.0,120.0,13.0,W,227.0,2012-2013
4,2012-10-30,away,Dallas,L.A. Lakers,1610612742,21200003,40.8,350.0,393.0,420.0,...,-107.50,187.0,185.0,-100.0,-110.0,99.0,8.0,W,190.0,2012-2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2447,2019-04-10,home,Denver,Minnesota,1610612743,21801228,45.2,-900.0,-794.0,-830.0,...,-107.17,218.5,218.0,-105.0,-110.0,99.0,4.0,W,194.0,2018-2019
2448,2019-04-10,away,Utah,L.A. Clippers,1610612762,21801229,61.6,199.0,249.0,275.0,...,-107.40,226.0,225.0,-102.0,-115.0,137.0,-6.0,L,280.0,2018-2019
2449,2019-04-10,home,L.A. Clippers,Utah,1610612746,21801229,38.4,-240.0,-281.0,-305.0,...,-106.60,226.0,225.0,-105.0,-110.0,143.0,6.0,W,280.0,2018-2019
2450,2019-04-10,away,Sacramento,Portland,1610612758,21801230,58.1,317.0,135.0,135.0,...,-107.67,229.0,226.5,-105.0,-111.0,131.0,-5.0,L,267.0,2018-2019
2451,2019-04-10,home,Portland,Sacramento,1610612757,21801230,41.9,-400.0,-149.0,-145.0,...,-107.33,229.0,226.5,-100.0,-115.0,136.0,5.0,W,267.0,2018-2019

In [40]:
full_data = pd.read_csv('Data/combined/full_raw_data.csv')
full_vegas_data = pd.read_csv('Data/combined/full_vegas_data.csv')

In [39]:
full_data

,Date,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,YEAR,GAME_DATE_EST
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,0.0,84,0.356,0.600,0.250,26,39,12,2012-2013,NaN
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,0.0,94,0.456,0.682,0.350,22,54,20,2012-2013,NaN
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,0.0,107,0.520,0.821,0.462,24,41,15,2012-2013,NaN
3,2012-10-30,2,21200002,1610612748,MIA,Miami,1-0,31,31,31,...,0.0,120,0.544,0.813,0.500,25,36,8,2012-2013,NaN
4,2012-10-30,3,21200003,1610612742,DAL,Dallas,1-0,25,23,26,...,0.0,99,0.471,0.778,0.333,22,40,11,2012-2013,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17221,2019-04-10,9,21801228,1610612743,DEN,Denver,54-28,22,29,22,...,0.0,99,0.448,0.647,0.303,23,53,12,2018-2019,NaN
17222,2019-04-10,10,21801229,1610612762,UTA,Utah,50-32,26,40,31,...,0.0,137,0.443,0.879,0.400,31,57,17,2018-2019,NaN
17223,2019-04-10,10,21801229,1610612746,LAC,LA,48-34,39,31,32,...,0.0,143,0.509,0.767,0.429,34,52,12,2018-2019,NaN
17224,2019-04-10,11,21801230,1610612758,SAC,Sacramento,39-43,39,48,26,...,0.0,131,0.521,0.813,0.419,25,35,10,2018-2019,NaN
17225,2019-04-10,11,21801230,1610612757,POR,Portland,53-29,30,32,36,...,0.0,136,0.582,0.727,0.583,19,44,12,2018-2019,NaN

In [44]:
full_data.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
target = 'Result'